# Ignore Data #
ppdb-2.0-s-all
ppdb-2.0-s-all.gz
ppdb-2.0-tldr.gz 
ppdb_train

# Ignore notebook
*.ipynb
.ipynb_checkpoints/
# Ignore model checkpoint
# Ignore data
final_paper/data
logistic_regression_classifier.log
final_paper/serialized_data
model_checkpoint
serialized_data*
*.tar.gz